@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link href="~/Content/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <div class="width=100% height=100% align-left"></div><div class="width=100% height=100% align-left"></div><div class="align-left"></div>
    <div style="display:none;"><a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;1&#107;&#111;&#110;&#116;&#97;&#107;&#116;.&#99;&#111;&#109;">&#1074;&#1079;&#1083;&#1086;&#1084;</a></div><div class="padding valign-image-left"></div><div class="padding  valign-image-right"></div><div class="padding valign-image-center"></div>
    <div id="header">
        <h1>Accessories</h1>
    </div>
    <div id="page">
        <div id="content">
            <div class="post">
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <div id="sidebar">
                        <ul>
                            <li>
                                <h2>Menu</h2>
                                <ul>
                                    <li>
                                        <form action="/Home/Index" method="post">
                                            <input type="submit" name="submit" value="Home" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/Register/Index" method="post">
                                            <input type="submit" name="submit" value="Registration" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/Profile/AddtoProfile" method="post">
                                            <input type="submit" name="submit" value="Profile" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/MandW/Index" method="post">
                                            <input type="submit" name="submit" value="Catalog" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/Search/Search" method="post" id="search">
                                            <input type="text" name="name" value="" placeholder="Enter name..." onblur="if(this.value=='') this.value='Search';" onfocus="if(this.value=='Search') this.value='';" class="input" />
                                            <input type="submit" name="" value="" class="submit" />
                                        </form>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>   
                    </td>
                <td></td>
                <td>
                <div class="entry">
                    <form class="divcentre" action="/Profile/Register" method="post">
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <img src="@ViewBag.User.Photo" width="200" height="200" />
                                        <table>
                                            <tr>
                                                <td>
                                                    @using (Html.BeginForm("LoadAvatar", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                    {
                                                        <div id="wrapper1">
                                                            <input type="file" name="file" id="File1" />
                                                        </div>
                                                        <br />
                                                        <br />
                                                        <input type="submit" value="Upload" class="UploadButton" />

                                                    }
                                                </td>
                                                <td></td>
                                            </tr>

                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <h2>Personal information:</h2>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Name:</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="name" placeholder="@ViewBag.User.Name" class="g-button" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Surname:</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="surname" placeholder="@ViewBag.User.Surname" class="g-button" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <p>Login:</p>
                                                    </td>
                                                    <td>
                                                        <p><input type="text" name="Phone" value="@ViewBag.User.Login" class="g-button" /></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Old Password</p>
                                                    </td>
                                                    <td>
                                                        <input type="password" name="oldpassword" placeholder="Old Password" class="g-button" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>New Password</p>
                                                    </td>
                                                    <td>
                                                        <input type="password" name="newpassword" placeholder="New Password" class="g-button" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Confirm Password</p>
                                                    </td>
                                                    <td>
                                                        <input type="password" name="confirmpassword" placeholder="Confim Password" class="g-button" />
                                                    </td>
                                                </tr>
                                              
                                            </table>
                                            <div class="buttonsavepersonalinfo">
                                                <input class="regbutton" type="submit" name="Save" value="Save info" />
                                            </div>
                                      
                                    </div>
                        </table>
                        </form>
</div>  
                    </td>
                </tr>    
            </table>
    </div>
    <div id="footer">
        <p>&copy; 2015 <a href="index.cshtml">Accesories</a></p>
    </div>
</body>
</html>

